@{
    ViewData["Title"] = "Memories in DNA";
}

<!-- Client side libs required  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.25.2/css/blueimp-gallery.min.css" crossorigin="anonymous">

<style>
    html {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    body {
        margin: 0px;
        font-family: 'Open Sans',sans-serif;
    }

    main {
        margin: 8px;
    }

    #gallery-note {
        font-size: smaller
    }

    img.toplogoresize {
        width: 100px;
    }
    img.topbannerresize {
        max-width: 90%;
        max-height: 90%;
    }

    .blueimp-gallery {
        margin: 25px;
        max-width: 150px;
        padding-bottom: 150px;
    }

    .dropzone {
        border: 3px dashed #00a1f1;
        background: #F0F8FF;
        margin: 25px;
        border-radius: 5px;
        max-width: 400px;
    }

    .dropzone .dz-message {
        font-weight: 350;
    }

    .dropzone .dz-message .note {
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 200;
        display: block;
        margin-top: 1.5rem;
    }
    
    .uw-thinstrip {
        height: 90px;
        width: 100%;
        background: #4b2e83;
        padding-top: 22px;
        position: relative;
        z-index: 2;
        -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    }
    
    .uw-thinstrip .container {
        display: inline-block;
    }
    
    .uw-thinstrip .misl-logo img {
        height:70px;
        margin-left:20px;
    }
    
    .uw-thinstrip .header-title {
        color:#fff;
        font-size: 40px;
        margin-left: 20px;
    }
    
    h1, h2, h3 {
        font-family:"Encode Sans Condensed",sans-serif;
        color:#4b2e83;
    }
    
    .logo-footer {
        margin-top:40px;
    }
    
    @@media screen and (max-width: 580px) {
        .uw-thinstrip .misl-logo img {
            height:50px;
            margin-left:10px;
        }

        .uw-thinstrip .header-title {
            font-size: 25px;
            margin-left: 10px;
        }

    }
    
    .logo-image {
        display:inline-block;
        padding:5px;
    }
    
    .logo-image img {
        height:45px;
    }
    
    .twist-logo-image img {
        height:100px;
    }
    
    #as-logo, #msft-logo, #ee-logo {
        margin-bottom:30px;
    }
    
    #msft-logo {
        padding-left:20px;
        padding-right:10px;
    }
    
    @@media screen and (max-width: 1325px) {
        .logo-image {
            display:block;
        }
        .logo-footer {
            margin-left: 30px;
        }
        #as-logo, #msft-logo, #ee-logo {
            margin-bottom:5px;
        }

        #msft-logo {
            padding-left:0px;
            padding-right:0px;
        }
        #tw-logo {
            margin-left:-15px;
            margin-top: -10px;
            margin-bottom: -10px
        }
    }
    
    @@media screen and (max-width: 500px) {
        .logo-footer {
            margin-left: 10px;
        }
        .logo-image img {
            height:30px;
        }
        .twist-logo-image img {
            height:50px;
        }
        #tw-logo {
            margin-left:-5px;
            margin-top: -5px;
            margin-bottom: -5px
        }
    }
    
    
</style>

<header class="uw-thinstrip">
  <div class="container">
    <a href="https://homes.cs.washington.edu/" title="Allen School Home" class="misl-logo"><img src="MISL-logo-white.svg"></a>
  </div>
    <span class="header-title">#MemoriesInDNA</span>
</header>
    <main>

    <div class="box header">

        <h1><span class="fa fa-user-circle-o"></span> <span id="page-title">What do you want to remember forever?</span></h1>
        <p>
            Submit an original photo to the #MemoriesInDNA Project to support the development of a next-generation storage and
            retrieval system for digital data based on nature’s own perfected data storage system — DNA!
        </p>
    </div>
	
    <div class="box content">
        <div>
            <form action="/api/images/upload"
                  class="dropzone needsclick dz-clickable"
                  id="image-upload"
                  method="post"
                  enctype="multipart/form">
                <div class="dz-message needsclick">
                    <span class="note needsclick">
                        Drop files here or tap/click to upload.
                    </span>
                </div>
            </form>
        </div>
        <p>
            Please read the information below before uploading your photo. By using this site, you consent to the unrestricted,
            royalty-free use of the submitted image for research purposes.
        </p>
        <div class="box footer">
            <h2>Consent</h2>
            <hr>
            <div class="privacy">
                <p>
                    Researchers in the Molecular Information Systems Laboratory at the University of Washington in Seattle, Washington, U.S.A.
                    are exploring mechanisms for long-term storage and manipulation of data for up to thousands of years.
                    Through the #MemoriesInDNA Project, we are trying to understand what kinds of images people would like to preserve for posterity,
                    which will also enable us to build a dataset of images we can use to develop these mechanisms.
                </p>

                <p>
                    If you decide to participate, we ask you to upload an original photo of something that you want to remember forever. It could be a person, a place, an occasion — anything, really — but it must not violate another person’s copyright. We will take a selection of images we receive and encode them in DNA. We will make the resulting dataset, for which we hope to collect roughly 10,000 images, available to other researchers.
                    Please read our <a href="https://homes.cs.washington.edu/~luisceze/memoriesindna-irb-consent-form-dec18.pdf">official consent form</a>.
                </p>
                <p>
                    <a href="mailto:misl-info@cs.washington.edu?Subject=MemoriesInDNA" target="_top">Email</a> us if you have more questions.
                </p>

                <h2>About us</h2>
                <p>
                    The Molecular Information Systems Laboratory (MISL) is a partnership between the University of Washington and Microsoft Research.
                    We are developing methods for long-term data storage using synthetic DNA, an extremely durable and dense storage medium perfected by nature.
                    Learn about the core research by visiting the <a href="http://misl.cs.washington.edu/">MISL website</a> and
                    <a href="https://www.microsoft.com/en-us/research/project/dna-storage/">
                        Microsoft Research project page</a>.
                        <a href="https://twistbioscience.com/">Twist Bioscience</a> is a collaborator in the #MemoriesInDNA project, its DNA synthesis platform will be used to produce the DNA for this research.
                    
                </p>

                <h2>Spread the word!</h2>
                <p>Now that you have submitted your photo, encourage others to participate by sharing your image and this website with the hashtag <strong>#MemoriesInDNA</strong>!</p>
            </div>

            <!-- <p><span id="gallery-note">Gallery refreshes from storage container image links every 5 seconds.</span></p> -->
            <div id="stored-images"></div>

            <!-- The Gallery as inline carousel, can be positioned anywhere on the page -->
            <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
                <div class="slides"></div>
                <h3 class="title"></h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
            </div>
            <div class="logo-footer">
                <div class="logo-image"><a href="http://www.cs.washington.edu/"><img src="AllenSchool_mark_RGB.svg" alt="Allen School" id="as-logo"></a></div>
                <div class="logo-image"><a href="http://www.microsoft.com/"><img src="Microsoft-logo-2012.svg" alt="Microsoft" id="msft-logo"></a></div>
                <div class="logo-image twist-logo-image"><a href="http://twistbioscience.com/"><img src="Twist-Logo.svg" alt="Twist Bioscience" id="tw-logo"></a></div>
                <div class="logo-image"><a href="http://www.ee.washington.edu/"><img src="UW-EE-purple-RGB.svg" alt="UW EE" id="ee-logo"></a></div>
            </div>
        </div>
    </div>

<!-- 
To collect end-user usage analytics about your application, 
insert the following script into each page you want to track.
Place this code immediately before the closing </head> tag,
and before any other scripts. Your first data will appear 
automatically in just a few seconds.
-->
<script type="text/javascript">
  var appInsights=window.appInsights||function(a){
    function b(a){c[a]=function(){var b=arguments;c.queue.push(function(){c[a].apply(c,b)})}}var c={config:a},d=document,e=window;setTimeout(function(){var b=d.createElement("script");b.src=a.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js",d.getElementsByTagName("script")[0].parentNode.appendChild(b)});try{c.cookie=d.cookie}catch(a){}c.queue=[];for(var f=["Event","Exception","Metric","PageView","Trace","Dependency"];f.length;)b("track"+f.pop());if(b("setAuthenticatedUserContext"),b("clearAuthenticatedUserContext"),b("startTrackEvent"),b("stopTrackEvent"),b("startTrackPage"),b("stopTrackPage"),b("flush"),!a.disableExceptionTracking){f="onerror",b("_"+f);var g=e[f];e[f]=function(a,b,d,e,h){var i=g&&g(a,b,d,e,h);return!0!==i&&c["_"+f](a,b,d,e,h),i}}return c
    }({
        instrumentationKey:"1643177f-240a-4ab4-8572-e9bc93f796a2"
    });
    
  window.appInsights=appInsights,appInsights.queue&&0===appInsights.queue.length&&appInsights.trackPageView();
</script>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.25.2/js/blueimp-gallery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<script>
    // init gallery for later use
    var gallery;

    // Grab links for images from backend api
    function fetchImageLinks() {
        // Fetch images
        $.get("api/Images/thumbnails", function(fetchedImageLinks) {
            console.log(fetchedImageLinks)

            // Check if anything is in there
            if ( _.isEmpty(fetchedImageLinks) ){
                console.log('empty fetched')
                // do nothing  
            } else {
                // Check if we have a gallery initialized
                if ( _.isEmpty(gallery) ) {
                    // initialize gallery
                    gallery = blueimp.Gallery(
                                fetchedImageLinks, // gallery links array
                                {
                                    container: '#blueimp-gallery-carousel',
                                    carousel: true
                                } // gallery options
                            );                    
                } else {
                    // check if images are equal to array
                    console.log('currently in gallery:')
                    console.log(gallery.list)
                    var imageLinksEqual = _.isEqual(_.sortBy(gallery.list.map(s => s.split("?")[0])), _.sortBy(fetchedImageLinks.map(s => s.split("?")[0])))
                    if ( imageLinksEqual ) {
                        console.log('images arr are equal')
                        // do nothing
                    } else {
                        console.log('images arr are not equal')

                        // update gallery with new image urls. Only compare actual url without SAS token query string
                        var newImageLinks = _.difference(fetchedImageLinks.map(s => s.split("?")[0]), gallery.list.map(s => s.split("?")[0]))

                        console.log('differene is: ')
                        console.log(newImageLinks)
                        // Only add new images
                        gallery.add(newImageLinks);

                        // Force image load
                        gallery.next();
                    }
                }       
            }     
        });
    }

    // Start first interval
    fetchImageLinks()
    
    setInterval(function() {
        fetchImageLinks()
    }, 5000) 

    /* Dropzone */
    // "imageUpload" is the camelized version of the HTML element's ID
    Dropzone.options.imageUpload = {
        paramName: "files", // The name that will be used to transfer the file
        dictDefaultMessage: "Drop files here or Click to Upload",
//        addRemoveLinks: true, // Allows for cancellation of file upload and remove thumbnail
		maxFileSize: 25,
        init: function() {
            myDropzone = this;
            myDropzone.on("success", function(file, response) {
                console.log("Success");
	            messageElement = Dropzone.createElement("Uploaded!");
	            this.element.appendChild(messageElement);
	            messageElement = Dropzone.createElement("Please encourage others to participate by sharing your image and this website with the hashtag #MemoriesInDNA.");
	            this.element.appendChild(messageElement);
		    appInsights.trackEvent("Upload");
            });                    
        }
    };
</script>
